{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "DependencyInjection",
            "Resources"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "0.x"
        }
    },
    "mutators": {
        "@default": true
    }
}
