<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    colors= "true"
    backupGlobals="false"
    executionOrder="depends,defects"
    forceCoversAnnotation="true"
    resolveDependencies="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    failOnRisky="true"
    failOnWarning="true"
    failOnEmptyTestSuite="true"
    stopOnFailure="false"
    stderr="false"
    verbose="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <xml outputDirectory="/tmp/infection/coverage-xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory phpVersion="7.4" phpVersionOperator=">=" suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="serialize_precision" value="14"/>
  </php>
  <logging>
    <junit outputFile="/tmp/infection/junit.xml"/>
  </logging>
</phpunit>
