<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
    backupGlobals="false" 
    verbose="true" 
    resolveDependencies="true" 
    stopOnFailure="true" 
    colors="false" 
    cacheResult="false" 
    stderr="false"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <xml outputDirectory="/tmp/infection/coverage-xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory phpVersion="7.4" phpVersionOperator=">=" suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="serialize_precision" value="14"/>
  </php>
  <logging>
    <junit outputFile="/tmp/infection/junit.xml"/>
  </logging>
</phpunit>
